h1{
    text-align: justify;
    font-family: monospace;
    color: midnightblue;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
}

img {
    height: 100px;
    position: relative;
    float: left;
    margin: 2px;
    box-shadow: 2px 2px 2px gray;
  }

#feed {
    max-width: 800px;
    max-height: 800px;
    
}